<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href='/home'>voltar</ion-button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://yt3.ggpht.com/a/AGF-l790ZGzS4Qw4FWGGEp6MQHqbWjxxvVeJhF7_sA=s900-mo-c-c0xffffffff-rj-k-no"
        alt="">
    </ion-avatar>
    <ion-label>
      <h2>ID: {{id}}</h2>
      <p>Deixa a vida me levar...</p>
    </ion-label>
  </ion-item>

  <ion-list>

    <ion-item>
      Oi sumido...
    </ion-item>

    <ion-item>
      Opa...
    </ion-item>

    <ion-item class="item-border">
      <ion-input placeholder="Nova Mensagem"></ion-input>
      <ion-icon name="arrow-dropright-circle"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>